# Created by .ignore support plugin (hsz.mobi)


.idea/
.DS_Store

*.py[cod]

*.env/

config/*
!config/__init__.py
!config/default.py

docs/_book/*


# local files
run_service_app.py
web_app

docs/node_modules
docs/package-lock.json


env_*.sh
!env_default.sh
